{% extends 'meal_manager/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Add New Recipe
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12">
            <h1>
                Add New Recipe
            </h1>
        </header>
    </div>

    <div class="row">
        <section class="col-xs-8">
            <form action="{% url 'meals:add_recipe' %}" method="post">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="button" name="button" class="btn btn-default btn-sm" id="addIngredTrigger">
                        Need to add an ingredient?
                    </button>
                </div>
                <div class="form-group">
                    <button type="submit" name="add_new_recipe" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </form>
        </section>

        <aside class="col-xs-4" id="addIngredCol">
            <div class="input-group" id="newIngredInputBox">
                <input type="text" id="newIngredInput" placeholder="Add a new thing here" class="form-control" />
                <span class="input-group-addon btn btn-sm btn-default" id="addNew">Add</span>
            </div>

            <ul id="addedItems" class="list-group">
                <!-- NOTE: new ingredients are added dynamically here -->
            </ul>
        </div>
        </aside>
    </div>
{% endblock %}
