{% extends 'meal_manager/base.html' %}

{% block title %}
    All Recipes
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12">
            <h1>
                Your Recipes
            </h1>
        </header>
    </div>
    
    <div class="row">
        {% for recipe in object_list %}
            <!-- TODO: theoretically this can also be dealt with via a for loop for generating the list from the db -->
            <article class="col-xs-6 col-sm-4">
                <h4>{{ recipe.title }}</h4>
                {% for tag in recipe.tags.names|slice:":5" %}
                    <p>{{ tag }} </p>
                {% endfor %}
                <a href="{% url 'meals:view_recipe' pk=recipe.id %}">Read more...</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
