{% extends 'meal_manager/base.html' %}

{% block title %}
    Create a Meal Plan
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12">
            <h1>
                Create a Meal Plan
            </h1>
        </header>
    </div>

    <div class="row">
        <section class="col-xs-3 dragBox">
            <h4>
                Available Recipes
            </h4>
            <div id="availableRecipes">
                <div class="recipe">
                    <h6>recipe title</h6>
                </div>
                <div class="recipe">
                    <h6>another recipe</h6>
                </div>
                <div class="recipe">
                    <h6>the tastiest of them all</h6>
                </div>
            </div>
        </section>

        <section class="col-xs-9 dragBox" id="schedule">
            <h4>
                Sunday
            </h4>
            <article class="day" id="sunday"></article>
            <h4>
                Monday
            </h4>
            <article class="day" id="monday"></article>
            <h4>
                Tuesday
            </h4>
            <article class="day" id="tuesday"></article>
            <h4>
                Wednesday
            </h4>
            <article class="day" id="wednesday"></article>
            <h4>
                Thursday
            </h4>
            <article class="day" id="thursday"></article>
            <h4>
                Friday
            </h4>
            <article class="day" id="friday"></article>
            <h4>
                Saturday
            </h4>
            <article class="day" id="saturday"></article>
        </section>
    </div>
{% endblock %}
