{% extends 'meal_manager/base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12">
            {{ object.title }}
        </header>
    </div>

    <div class="row">
        <aside class="col-xs-3">
            <p>
                <strong>Total time:</strong>
                {{ object.cook_time }}
            </p>
        </aside>
        <aside class="col-xs-9">
            <ul class="list-inline">
                {% for tag in object.tags.names|slice:":5" %}
                    <li>
                        {{ tag }}
                    </li>
                {% endfor %}
            </ul>
        </aside>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-4">
            <ul>
                {% for ingredient in object.ingredients.all %}
                <li>
                    {{ ingredient.name }}
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="col-xs-12 col-sm-8">
            <p>
                {{ object.instructions }}
            </p>
        </section>
    </div>
    <form action="{% url 'meals:edit_recipe' pk=recipe.id %}" method="get">
        {% csrf_token %}
        <input class="btn btn-info" type="submit" value="Edit">
    </form>
    <form action="{% url 'meals:delete_recipe' pk=recipe.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-info" type="submit" value="Delete">

    </form>
{% endblock %}
