/*** base.html ***/
nav a:last-child {
    margin-right: 20px;
}

body {
    font-size: 1.5em;
}



/*** add.html ***/
aside#addIngredCol {
    display: none;
}

div#newIngredInputBox {
    margin-bottom: 20px;
}

ul#addedItems {
    list-style-type: none;
}

.closeBtn {
    padding: 9px 13px 9px 13px;
    margin-left: 10px;
    text-align: center;
}

.closeBtn:hover {
    background-color: #B100B2;
    color: white;
}

li.userAddedIngred {
    padding: 5px;
    background: #EEE;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li.userAddedIngred:nth-child(odd) {
    background: #f9f9f9;
}

li.userAddedIngred:hover {
    background: #DDD;
}
