{% extends 'user_manager/base.html' %}

{% block title %}
    Welcome to Weekly Noms
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12 jumbotron">
            <h1>
                Welcome to Weekly Noms
            </h1>
        </header>
    </div>

    <div class="row">
        <aside class="col-xs-4 col-xs-offset-1">
            <h5 class="text-center">
                If you've been here before, you should
            </h5>
            <a href="{% url 'users:login' %}" class="btn btn-lg btn-success btn-block">login</a>
        </aside>

        <aside class="col-xs-4 col-xs-offset-2">
            <h5 class="text-center">
                If you don't have an account, you should
            </h5>
            <a href="{% url 'users:register' %}" class="btn btn-lg btn-success btn-block">Register</a>
        </aside>
    </div>
{% endblock %}
