{% extends 'user_manager/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12 jumbotron">
            <h1>
                Register
            </h1>
            <a href="{% url 'users:login' %}" class="btn btn-primary pull-right">Already have an account? Login.</a>
        </header>
    </div>

    <div class="row">
        <section class="col-xs-12">
            <form class="col-xs-6 col-xs-offset-2" action="{% url 'users:register' %}" method="POST">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field|add_class:'form-control' }}
                        <!-- NOTE: we can talk about doing errors another way if you prefer. I would like to keep errors not tied to a particular input, for security reasons, but am possibly willing to be flexible about that -->
                        {% for error in field.errors %}
                            <span class="help-block">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" name="register" class="btn btn-success">
                        Register
                    </button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
