{% extends 'meal_manager/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Add New Recipe
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-7">
            <h1>
                Add New Recipe
            </h1>
            <span id="helpBlockIngreds" class="help-block">
                If you need to add ingredients to the database, be aware that any changes you've made on this form will not be saved. Always add ingredients first!
            </span>
            <a href="{% url 'meals:add_ingredient' %}" class="btn btn-primary btn-sm" aria-describedby="helpBlockIngreds">
                Need to add an ingredient?
            </a>
            <hr />
            <br />
        </header>
    </div>

    <div class="row">
        <section class="col-xs-7">
            <form action="{% url 'meals:add_recipe' %}" method="post">
                {% csrf_token %}

                <!-- TODO: verify that this is unnecessary -->
                <!-- {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %} -->

                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">
                        Recipe {{ form.title.label }}
                    </label>
                    {{ form.title|add_class:'form-control' }}
                </div>

                <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">
                        {{ form.tags.label }}
                    </label>
                    <span id="helpBlockTags" class="help-block">
                        Tag examples include quick, easy, slowcooker, complicated, etc. In the future, you'll be able to filter recipes by tag name.
                    </span>
                    {{ form.tags|add_class:'form-control' }}
                </div>

                <div class="form-group">
                    <label for="{{ form.cook_time.id_for_label }}">
                        {{ form.cook_time.label }} (minutes)
                    </label>
                    {{ form.cook_time|add_class:'form-control' }}
                </div>

                <div class="form-group">
                    <label for="{{ form.ingredients.id_for_label }}">
                        {{ form.ingredients.label }}
                    </label>
                    {{ form.ingredients|add_class:'form-control' }}
                </div>

                <div class="form-group">
                    <label for="{{ form.instructions.id_for_label }}">
                        {{ form.instructions.label }}
                    </label>
                    {{ form.instructions|add_class:'form-control' }}
                </div>

                <div class="form-group">
                    <button type="submit" name="add_new_recipe" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </form>
        </section>

        <!-- TODO: this would be preferable to having to go to a separate page for new ingredient adding. PRESERVE THIS BLOCK OF CODE FOR FUTURE USE! -->
        <!-- <aside class="col-xs-4" id="addIngredCol">
            <div class="input-group" id="newIngredInputBox">
                TODO: get this input to send a post request to meals:add_ingredient. -->
                <!-- <form action="{% url 'meals:add_ingredient' %}" method="post">
                <input type="text" id="newIngredInput" placeholder="Add a new thing here" class="form-control" />
                    <input type="submit" value="Add" class="input-group-addon btn btn-sm btn-default" id="addNew">
                </form> -->
                <!-- <span class="input-group-addon btn btn-sm btn-default" id="addNew">Add</span> -->
            <!-- </div> -->

            <!-- <ul id="addedItems" class="list-group">
            </ul> -->
        <!-- </aside> -->
    </div>
{% endblock %}
