{% extends '../../../templates/base.html' %}

{% block title %}
    Logged Out
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12 jumbotron">
            <h1>
                Congratulations, you are now logged out.
            </h1>
        </header>
    </div>

    <div class="row">
        <article class="col-xs-12">
            <p>
                Logged out by mistake? <a href="{% url 'login' %}">Log in again.</a>
            </p>
        </article>
    </div>
{% endblock %}
