{% extends '../base.html' %}

{% load widget_tweaks %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12 jumbotron">
            <h1>
                Login
            </h1>
        </header>
    </div>

    <div class="row">
        <section class="col-xs-12">
            <form class="col-xs-6 col-xs-offset-2" action="{% url 'meals:all_recipes' %}" method="POST">
                {% csrf_token %}

                {% for hidden in login_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in login_form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field|add_class:'form-control' }}
                        <!-- NOTE: we can talk about doing errors another way if you prefer. I would like to keep errors not tied to a particular input, for security reasons, but am possibly willing to be flexible about that -->
                        {% for error in field.errors %}
                            <span class="help-block">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" name="login" class="btn btn-success">
                        Login
                    </button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
