{% extends '../../templates/base.html' %}

{% block title %}
    Create a Meal Plan
{% endblock %}

{% block content %}
    <div class="row">
        <header class="col-xs-12">
            <h1>
                Create a Meal Plan
            </h1>
        </header>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-6">
            <h3>
                Sunday
            </h3>
            <p>
                chosen recipe title!
            </p>
            <!-- TODO: button disappears once recipe capacity per day is reached? -->
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
        <section class="col-xs-12 col-sm-6">
            <h3>
                Monday
            </h3>
            <p>
                recipe goes here
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-6">
            <h3>
                Tuesday
            </h3>
            <p>
                <em>choose a recipe!</em>
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
        <section class="col-xs-12 col-sm-6">
            <h3>
                Wednesday
            </h3>
            <p>
                <em>choose a recipe!</em>
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
    </div>

    <div class="row">
        <section class="col-xs-12 col-sm-6">
            <h3>
                Thursday
            </h3>
            <p>
                a cool recipe I wanna try
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
        <section class="col-xs-12 col-sm-6">
            <h3>
                Friday
            </h3>
            <p>
                <em>choose a recipe!</em>
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
    </div>

    <div class="row">
        <section class"col-xs-12 col-sm-6">
            <h3>
                Saturday
            </h3>
            <p>
                <em>choose a recipe!</em>
            </p>
            <button type="button" name="add_recipe_to_plan">Add a recipe to this day</button>
        </section>
    </div>
{% endblock %}
